# Ignore Python cache files
__pycache__

# Ignore local environment files
.env

# Ignore compiled Python files
*.pyc

# Ignore the virtual environment folder
venv/

# Ignore any other unnecessary files or directories
node_modules/
coverage/
dist/
build/
